
    <%- include('./partials/navbar.ejs') %>
     
    <div class="container">
    
     
        <div class="card">
            <div class="card-header">
              <h4><%= pergunta.titulo%></h4>
            </div>
            <div class="card-body">
              <h6 class="card-title"><%= pergunta.pergunta%></h6>
            <p><%= pergunta.autor%></p>
            </div>
            </div>

            <div class="bloco4">
                <% respostas.forEach(resposta => {%>
                    <div class="card">
                        <div class="card-body">
                            <p><strong>Resposta de: </strong><%= resposta.autorResposta%></p>
                          <h6 class="card-title"> <%= resposta.resposta%></h6>
                        
                        </div>
                        </div>
                        <% }) %>
            </div>
          




            <div class="bloco3">
            <form action="/salvarresposta" method="POST">
                 <div class="form-group">
                 <textarea name="resposta" id="resposta" name="resposta" class="form-control" cols="10" rows="2"  placeholder="Digite aqui sua resposta"></textarea>
                  </div>
                <div class="form-group">
                 <input type="text" class="form-control" id="autorResposta" name="autorResposta" placeholder="Nome do autor da resposta">
                </div>
                <input type="hidden" name="idPergunta" id="idPergunta" value="<%= pergunta.id%>">
                 <button type="submit" class="btn btn-info">Responder</button>
              </form>
              </div>
              
        
    
    
    </div>
           
        <%- include('./partials/footer.ejs') %>   
       